@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.bg-theme {
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  max-width: 1440px;
  overflow-x: hidden;
}

.bg-light {
  color: #000000;
  background-color: #ffffff;
}
.bg-light h2 {
  color: #000000;
}
.bg-light line {
  color: #000000;
}
.bg-light .hero p {
  color: #ffffff;
}
.bg-light .portfolio button {
  color: #000000;
}
.bg-light .price h3 {
  color: #000000;
}
.bg-light .contacts .contacts__h2 {
  color: #bdae82;
}
.bg-light footer {
  background-color: #000000;
}
.bg-light .skills h4 {
  color: #000000;
}

h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2rem;
  margin: 0;
  padding: 0;
  color: #bdae82;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.4rem;
  }
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 8rem;
  margin: 0;
  padding: 0;
  color: #bdae82;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
  }
}

h3 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.6rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.bg {
  background-image: url(/portfolio3/img/bg-hero.jpg);
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .bg {
    background-image: url(/portfolio3/img/mobile-tablet/bg.jpg);
  }
}

/*
%hamburger-line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-text;
    border-radius: 5px;
    width: 100%;
    height: 3px;
}

.hamburger {
    display: none;
    position: relative;
    margin-right: 4px;
    width: 51px;
    height: 27px;
    margin-left: 20px;
    @include mobile-tablet {
        display: inline-block;
    }
    &:before {
        @extend %hamburger-line;
        top: 0;
        left: 0;
    }
    &:after {
        @extend %hamburger-line;
        bottom: 0;
        left: 0;
    }
}

.hamburger__line {
    @extend %hamburger-line;
    top: calc( 50% - 1.5px );
    left: 0;
}
*/
@media (max-width: 768px) {
  .menu-btn {
    width: 56px;
    height: 44px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-left: 18px;
  }
}

.menu-btn.active {
  position: fixed;
  right: 61px;
}

@media (max-width: 768px) {
  .menu-btn span {
    width: 49px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
}

@media (max-width: 768px) {
  .menu-btn span:nth-of-type(2) {
    top: calc(37% - 5px);
  }
}

@media (max-width: 768px) {
  .menu-btn span:nth-of-type(3) {
    top: calc(70% + 5px);
  }
}

/* Меняем гамбургер иконку, когда меню открыто */
@media (max-width: 768px) {
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
}

@media (max-width: 768px) {
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}

/* Меню, которое будет появляться */
@media (max-width: 768px) {
  .header__navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1718%;
    background: #000000;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
}

@media (max-width: 768px) {
  .header__navigation.active {
    transform: translateX(0);
    width: 620px;
    margin-left: 149px;
  }
}
@media (max-width: 620px) {
  .header__navigation.active {
    padding-left: 149px;
    margin-left: 0;
  }
}

.button-lang-ru, .button-lang-en, .button, .footer__info, .card p, .skills__cards > * p, .hero__content p, .navigation, .bg-theme, h4 {
  font-family: "Inter", Arial, sans-serif;
}

.card-price, h1, h2, h3 {
  font-family: "Merriweather", Arial, serif;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 60px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 212px;
  align-items: center;
}
@media (max-width: 768px) {
  .header {
    padding-top: 18px;
    padding-bottom: 98px;
  }
}

.header__navigation {
  margin-left: auto;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
}
@media (max-width: 768px) {
  .navigation {
    display: block;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 8.9rem;
    padding-top: 90px;
    padding-left: 111px;
  }
}

.navigation__link {
  padding: 0 15px;
}
.navigation__link a {
  color: #ffffff;
  text-decoration: none;
}
.navigation__link a:hover {
  cursor: pointer;
  color: #bdae82;
  border-bottom: #bdae82 1px solid;
  transition: 2s;
}

@media (max-width: 768px) {
  .header__button {
    margin-left: auto;
  }
}

.logo {
  background-image: url(/portfolio3/img/logo.svg);
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
}
.logo:hover {
  background-image: url(/portfolio3/img/logo1.svg);
  transition: 2s;
}

@media (max-width: 768px) {
  .slesh__button {
    margin-left: 7px;
    font-size: 20px;
  }
}

.icon_light {
  background-image: url(/portfolio3/img/light-tema.svg);
  width: 45px;
  height: 45px;
  display: inline-block;
}

.icon-thema {
  margin-left: 18px;
  background-color: transparent;
  border: none;
}

.hero {
  margin-bottom: 98px;
}

.hero__content {
  padding-left: 60px;
  width: 470px;
  padding-bottom: 330px;
}
.hero__content p {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  margin: 0;
  padding-bottom: 24px;
}
@media (max-width: 768px) {
  .hero__content p {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    padding-bottom: 59px;
  }
}
@media (max-width: 768px) {
  .hero__content {
    padding-left: 0;
    width: 415px;
    padding-bottom: 151px;
  }
}

.hero__title {
  padding-bottom: 65px;
}
@media (max-width: 768px) {
  .hero__title {
    padding-bottom: 19px;
  }
}

.img__1row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .img__1row {
    row-gap: 25px;
  }
}

.img__2row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .img__2row {
    row-gap: 25px;
  }
}

@media (max-width: 768px) {
  .portfolio__img {
    padding-left: 99px;
  }
}

.skills {
  padding-bottom: 109px;
}
@media (max-width: 768px) {
  .skills {
    padding-bottom: 179px;
  }
}

.skills__title {
  text-align: center;
}

.skills__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 16px;
  padding-right: 14px;
}
.skills__cards > * {
  flex-basis: 288px;
}
.skills__cards > * h4 {
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .skills__cards > * h4 {
    padding-bottom: 23px;
  }
}
.skills__cards > * p {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .skills__cards > * p {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1rem;
  }
}
.skills__cards > * p:last-child {
  padding-right: 3px;
}
@media (max-width: 768px) {
  .skills__cards {
    padding-left: 7px;
    padding-right: 10px;
    row-gap: 75px;
  }
}

.skill__icon {
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .skill__icon {
    padding-bottom: 28px;
  }
}

.video {
  padding-bottom: 98px;
}
@media (max-width: 768px) {
  .video {
    padding-bottom: 100px;
  }
}

.video__img {
  background-image: url(/portfolio3/img/wedding.jpg);
  width: 100%;
  height: 705px;
}
@media (max-width: 768px) {
  .video__img {
    background-image: url(/img/mobile-tablet/video-player.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 418px;
  }
}

.img-wedding {
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper-video {
    padding: 0;
  }
}

.price {
  padding-bottom: 97px;
}
@media (max-width: 768px) {
  .price {
    padding-bottom: 78px;
  }
}

.h2-price {
  column-gap: 17px;
  padding-bottom: 60px;
}
.h2-price div:first-child {
  flex-basis: 19.5%;
  border-bottom: blanchedalmond 1px solid;
}
@media (max-width: 768px) {
  .h2-price div:first-child {
    flex-basis: 18.5%;
  }
}
.h2-price div:last-child {
  flex-basis: 19.5%;
  border-bottom: blanchedalmond 1px solid;
}
@media (max-width: 768px) {
  .h2-price div:last-child {
    flex-basis: 18.5%;
  }
}

.price__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .price__cards {
    padding-left: 113px;
    row-gap: 48px;
  }
}

.card {
  text-align: center;
  border: #bdae82 3px solid;
  flex-basis: 444px;
  column-gap: 10px;
  padding-top: 41px;
}
@media (max-width: 768px) {
  .card {
    flex-basis: 415px;
  }
}
.card h3 {
  padding-bottom: 19px;
}
.card-price {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
  color: #bdae82;
  padding-right: 2px;
}
.card p {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  padding-top: 22px;
  padding-bottom: 39px;
  margin: 0;
}
.card p span {
  display: block;
}

.button__price {
  padding-bottom: 42px;
}
@media (max-width: 768px) {
  .button__price {
    padding-bottom: 40px;
  }
}

footer {
  border-color: #000000;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 49px;
  align-items: center;
  padding-bottom: 50px;
  color: #ffffff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
}
.footer__info a {
  color: #ffffff;
  text-decoration: none;
}
.footer__info > * {
  flex-basis: 17%;
}
@media (max-width: 768px) {
  .footer__info > * {
    flex-basis: 0;
  }
}
@media (max-width: 768px) {
  .footer__info {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    padding-top: 27px;
    text-align: center;
    display: block;
  }
}

@media (max-width: 768px) {
  .github {
    padding-bottom: 17px;
  }
}
.github a {
  padding-left: 16px;
}

.github__icon {
  padding-right: 15px;
}

.rss span {
  padding-left: 17px;
}
@media (max-width: 768px) {
  .rss span {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .rss {
    padding-bottom: 23px;
  }
}

@media (max-width: 768px) {
  .social {
    width: 188px;
    padding-left: 174px;
  }
}

.social__link {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding-top: 8px;
}
.social__link li {
  padding-right: 5px;
  padding-left: 19px;
}

.icon__inst {
  background-image: url(/portfolio3/img/icon-inst.svg);
  width: 27px;
  height: 27px;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon__inst:hover {
  background-image: url(/portfolio3/img/icon-inst2.svg);
  transition: 2s;
}

.icon__facebook {
  background-image: url(/portfolio3/img/icon-facebook.svg);
  width: 27px;
  height: 27px;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon__facebook:hover {
  background-image: url(/portfolio3/img/icon-facebook2.svg);
  transition: 2s;
}

.icon__twitter {
  background-image: url(/portfolio3/img/icon-twitter.svg);
  width: 27px;
  height: 27px;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon__twitter:hover {
  background-image: url(/portfolio3/img/icon-twitter2.svg);
  transition: 2s;
}

.icon__pin {
  background-image: url(/portfolio3/img/icon-pin.svg);
  width: 27px;
  height: 27px;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon__pin:hover {
  background-image: url(/portfolio3/img/icon-pin2.svg);
  transition: 2s;
}

.contacts__bg {
  background-image: url(/portfolio3/img/contactsbg.jpg);
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .contacts__bg {
    background-image: url(/img/mobile-tablet/bg-contacts.jpg);
  }
}

.contacts__info {
  /*padding-top: 10px;*/
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contacts__info {
    display: block;
    padding-top: 23px;
    padding-left: 98px;
    padding-right: 98px;
  }
}

.contacts__h2 {
  padding-top: 49px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .contacts__h2 {
    text-align: center;
    padding-bottom: 51px;
  }
}

.form {
  background: transparent;
  border: 2px solid #BDAE82;
  width: 427px;
  height: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #BDAE82;
  padding-left: 19px;
  padding-top: 1px;
}

input::-webkit-input-placeholder {
  color: #BDAE82;
}

textarea::-webkit-input-placeholder {
  color: #BDAE82;
}

textarea {
  resize: none;
}

.form-message {
  width: 427px;
  height: 84px;
  margin-bottom: 26px;
  padding-top: 12px;
}

.contacts__form input {
  display: block;
  margin-bottom: 19px;
}

.contacts__button {
  padding-bottom: 193px;
}
@media (max-width: 768px) {
  .contacts__button {
    padding-bottom: 111px;
    text-align: center;
  }
}

.button {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding-left: 17px;
  padding-right: 0;
}
.button:hover {
  color: #bdae82;
  cursor: pointer;
}

.button-lang-en {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  border: none;
  background-color: transparent;
  color: #ffffff;
  /*&:hover {
      color: $color-buttons;
      cursor: pointer;
  }*/
  padding-left: 17px;
  padding-right: 0;
}

.button-lang-en.active {
  color: #bdae82;
}

.button-lang-ru {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  border: none;
  background-color: transparent;
  color: #ffffff;
  /*&:hover {
      color: $color-buttons;
      cursor: pointer;
  }*/
  padding-left: 17px;
  padding-right: 0;
}

.button-lang-ru.active {
  color: #bdae82;
}

.button__colored {
  border: none;
  background-color: #bdae82;
  color: #000000;
  padding: 17px 73px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.button__colored:hover, .button__colored :focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
  color: #ffffff;
  transition: 2s;
  cursor: pointer;
}

.button__colored.active {
  color: #000;
  background-color: #bdae82;
}

.portfolio__button {
  padding-left: 250px;
  padding-bottom: 60px;
}
.portfolio__button > * {
  margin-left: 1.5px;
  margin-right: 1.5px;
}
@media (max-width: 768px) {
  .portfolio__button {
    padding-left: 102px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
  }
}

.button__transform_winter {
  padding: 16px 78px 13px 78px;
  background: transparent;
  border: 1px solid #bdae82;
  color: #bdae82;
}
.button__transform_winter:hover, .button__transform_winter :focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
  color: #000000;
  background-color: #bdae82;
  transition: 2s;
}
.button__transform_spring {
  padding: 16px 78px 13px 78px;
  background: transparent;
  border: 1px solid #bdae82;
  color: #bdae82;
}
.button__transform_spring:hover, .button__transform_spring :focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
  color: #000000;
  background-color: #bdae82;
  transition: 2s;
}
.button__transform_summer {
  padding: 16px 71px 13px 68px;
  background-color: transparent;
  border: 1px solid #bdae82;
  color: #bdae82;
}
.button__transform_summer:hover, .button__transform_summer :focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
  color: #000000;
  background-color: #bdae82;
  transition: 2s;
}
.button__transform_autumn {
  padding: 16px 73px 13px 71px;
  background: transparent;
  border: 1px solid #bdae82;
  color: #bdae82;
}
.button__transform_autumn:hover, .button__transform_autumn :focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
  color: #000000;
  background-color: #bdae82;
  transition: 2s;
}

.video__button {
  position: relative;
}

.button__player {
  position: absolute;
  bottom: 285px;
  left: 44.6%;
  border: none;
  background-color: transparent;
}
.button__player:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .button__player {
    bottom: 173px;
    left: 44.7%;
  }
}

@media (max-width: 768px) {
  .img-player {
    width: 65px;
    height: 65px;
  }
}

.btn_price {
  border: none;
  background-color: #bdae82;
  color: #000000;
  padding: 16px 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.btn_price:hover, .btn_price :focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translatey(-0.65em);
  color: #ffffff;
  transition: 2s;
  cursor: pointer;
}

.h2-line {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  padding-right: 0px;
  padding-bottom: 60px;
}
.h2-line > *:first-child {
  flex-basis: 19.5%;
}
.h2-line > *:last-child {
  flex-basis: 19.5%;
}
@media (max-width: 768px) {
  .h2-line {
    padding-bottom: 65px;
  }
  .h2-line > *:first-child {
    flex-basis: 17.6%;
  }
  .h2-line > *:last-child {
    flex-basis: 17.5%;
  }
}

.line {
  border-bottom: blanchedalmond 1px solid;
}

@media (max-width: 768px) {
  .h2-port {
    column-gap: 21px;
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .h2-port > *:first-child {
    flex-basis: 13.7%;
  }
  .h2-port > *:last-child {
    flex-basis: 13.7%;
  }
}

@media (max-width: 768px) {
  .h2-line-video {
    padding-bottom: 69px;
  }
  .h2-line-video > *:first-child {
    flex-basis: 14.7%;
  }
  .h2-line-video > *:last-child {
    flex-basis: 14.7%;
  }
}

@media (max-width: 768px) {
  .h2-price {
    padding-bottom: 71px;
  }
}

/*# sourceMappingURL=style.css.map */
