@mixin font ($size, $style, $weight, $height) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}
@mixin mobile-tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 620px) {
        @content;
    }
}