.contacts__bg {
background-image: url(/portfolio3/img/contactsbg.jpg);
background-repeat: no-repeat;
    @include mobile-tablet {
        background-image: url(/img/mobile-tablet/bg-contacts.jpg);
    }
}
.contacts__info {
    /*padding-top: 10px;*/
    display: flex;
    justify-content: space-between;
    @include mobile-tablet {
        display: block;
        padding-top: 23px;
        padding-left: 98px;
        padding-right: 98px;
    }
}
.contacts__h2 {
    padding-top: 49px;
    padding-bottom: 40px;
    @include mobile-tablet {
        text-align: center;
        padding-bottom: 51px;
    }
}
.form {
    background: transparent;
    border: 2px solid #BDAE82;
    width: 427px;
    height: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #BDAE82;
    padding-left: 19px;
    padding-top: 1px;
}
input::-webkit-input-placeholder { color: #BDAE82; }
textarea::-webkit-input-placeholder { color: #BDAE82; };
textarea {
    resize: none;
}
.form-message {
    width: 427px;
    height: 84px;
    margin-bottom: 26px;
    padding-top: 12px;
}

.contacts__form input {
    display: block;
    margin-bottom: 19px;
}
.contacts__button {
    padding-bottom: 193px;
    @include mobile-tablet {
        padding-bottom: 111px;
        text-align: center;
    }
}